@import 'config';

body {
  background: $background-primary;
  border: dashed 5px hotpink;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 400px;
  width: 90%;
  border: solid 5px yellow;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1, .section-2, .section-3 {
  flex-grow: 1;
  // height: 100px;
  border: dashed 1px deepskyblue;
  display: grid;
  place-items: center;
}

.section-3 {
  flex-grow: 5;
  transition: background-color 0.3s ease;
}

.section-2 > .pill-outer {
  height: 100%;
  width: 100%;
  background: $background-secondary;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.pill-outer > .pills-inner {
  height: 100%;
  width: 30%;
  border: dotted darkorchid 2px;
  display: grid;
  place-items: center;
  border-radius: inherit;

  transition: background-color 0.3s ease;
}

.selected-pill {
  background: #D881F8;
}

.section-3 > .circle {
  height: 170px;
  width: 170px;
  background: $background-secondary;
  border: solid 8px white;
  border-radius: 50%;

  display: grid;
  place-items: center;

  transition: background-color 0.3s ease;
}

.section-3 > .input-field-container {
  // border: solid red 1px;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-3 .input-fields {
  display: none;
  width: 20%;
  height: 25px;

  color: black;

  // TODO: Add transition
}

